MinioAccesskey = ZAIDttPrz6bYZRA0OLnB
MinioSecretKey = Ln1hAD0K0me8yjrHydVxPAZqNhAlyL4mAsx2c2ri



services:
  minio:
    image: 'quay.io/minio/minio:latest'
    command: 'server /data --console-address ":9001"'
    environment:
      - MINIO_SERVER_URL=$MINIO_SERVER_URL
      - MINIO_BROWSER_REDIRECT_URL=$MINIO_BROWSER_REDIRECT_URL
      - MINIO_ROOT_USER=$SERVICE_USER_MINIO
      - MINIO_ROOT_PASSWORD=$SERVICE_PASSWORD_MINIO
    volumes:
      - 'minio-data:/data'
    healthcheck:
      test:
        - CMD
        - mc
        - ready
        - local
      interval: 5s
      timeout: 20s
      retries: 10

MINIO_BROWSER_REDIRECT_URL=http://console.192.168.1.20.sslip.io
MINIO_ROOT_PASSWORD=$SERVICE_PASSWORD_MINIO
MINIO_ROOT_USER=$SERVICE_USER_MINIO
MINIO_SERVER_URL=http://minio.192.168.1.20.sslip.io
SERVICE_PASSWORD_MINIO=riz1i8JXffqi7lmimMC5vzYGYv36Btza
SERVICE_USER_MINIO=XaOtLo3fJVZu3PPo
